.button__bar {
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
  padding: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  width: 70px;
  text-align: center;
}
.button__bar li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.button__bar li button {
  border: none;
  background: #e2ecf4;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 8px;
}

.button__bar li.slick-active button {
  background-color: #fb9c46;
}
.shadow-triangle {
  filter: drop-shadow(0px 22px 0px rgba(251, 156, 70, 0.07));
}
