@keyframes up-down {
  from {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  to {
    margin-top: 5px; /* This will remain the same */
    margin-bottom: 20px; /* This will change */
  }
}

.animations-up-down {
  animation-name: up-down;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
